<div class="container" style="margin-top: 50px;">
    <h1 class="jumbtron" style="color:#fff;">FULLSTACK TODO</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Add ToDo Items</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="todo">Text</label>
                            <input type="text" class="form-control" placeholder="Enter your todos" ng-model="vm.todo.toDoText">
                        </div>
                        <div class="form-group">
                            <label for="priority">Priority</label>
                            <select class="form-control input-sm" ng-model="vm.todo.priority">
             						  		<option>-</option>
             						  		<option value=3>Low</option>
             						  		<option value=2>Medium</option>
             						  		<option value=1>High</option>
             						  	</select>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary" ng-click="vm.newToDo(vm.todo)">Add To Do</button>
                </div>
            </div>
        </div>
        <!-- end of 1st row-->
        <div class="col-md-6">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" ng-click="vm.sortOrder('priority')">Order by highest priority</button>
                <button type="button" class="btn btn-primary" ng-click="vm.sortOrder('-priority')">Order by lower priority</button>
                <button type="button" class="btn btn-primary" ng-click="vm.sortOrder('toDoText')">Order alphabetically</button>
            </div>

            <table class="table table-bordered table-hover table-condensed">

                <tr ng-repeat="todo in vm.todos">
                    <td ng-class="{'bg-danger':{{todo.priority}} === 3, 'bg-warning':{{todo.priority}} === 2, 'bg-info':{{todo.priority}} === 1}">
                        <!-- editable username (text with validation) -->
                        <span editable-text="todo.toDoText" e-form="rowform">
                          {{ todo.toDoText  }}
                        </span>
                    </td>
                    <td ng-class="{'bg-danger':{{todo.priority}} === 3, 'bg-warning':{{todo.priority}} === 2, 'bg-info':{{todo.priority}} === 1}">
                        <!-- editable status (select-local) -->
                        <span editable-select="todo.priority" e-form="rowform" e-ng-options="todo.priority as todo.priority for todo in vm.todos" ng-hide="vm.showPriority">
                          <!-- {{ todo.priority }} -->
                        </span>
                    </td>


                    <td style="white-space: nowrap; background-color: #fff;">
                        <!-- form -->
                        <form editable-form name="rowform" onbeforesave="vm.editToDo(todo)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == todo">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                              save
                            </button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                              cancel
                            </button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                            <button type="button" class="btn btn-danger" ng-click="vm.removeToDo(todo.toDoId,$index)">del</button>
                        </div>
                    </td>
                </tr>
            </table>


        </div>
    </div>
</div>
